<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="/css/update.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('../partials/navbar') %>
        <h1 id="title-name">Recipe Name: <%= recipe.recipeName %>
        </h1>
        <section id="recipe-container">
            <div class="cls-ingredients">
                <h2>List of Ingredients:</h2>
                <p>
                    <%= recipe.ingredients %>
                </p>
            </div>
            <div class="cls-steps">
                <h2>List of Steps:</h2>
                <p>
                    <%= recipe.steps %>
                </p>
            </div>
        </section>
        <hr>

        <h2 id="title-update-name">Update Recipe Steps:</h2>
        <section id="update-container">
            <div class="cls-addsteps">
                <form id="new-form" action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
                    <label>Steps:-</label>
                    <input type="text" name="stepsInput" id="stepsInput">
                    <button onclick="addStep()" type="button">Add Step</button>
                </form>
            </div>
            <div class="cls-liststeps">
                <h2 id="recipeStep">Recipe Steps: </h2>
                <ul id="lists"></ul>
            </div>
        </section>
        <input type="submit" value="Submit Changes" form="new-form" id="submit-btn">


</body>
<script defer>
    let steps = [];
    let stepsEl = document.getElementById("stepsInput");
    let formEl = document.getElementById("new-form");
    function addStep() {
        console.log(stepsEl);
        steps.push(stepsEl.value);
        //document.getElementById("recipeStep").append(` ${stepsEl.value}`);

        const ul = document.createElement('li');
        ul.innerHTML =`${stepsEl.value}`;
        document.getElementById("lists").appendChild(ul);

        // return steps;
        // Add the data as hidden input fields
        let inputEl = document.createElement("input");
        inputEl.setAttribute("type", "hidden");
        inputEl.setAttribute("name", `steps`);
        inputEl.setAttribute("value", stepsEl.value);
        formEl.append(inputEl);
        stepsEl.value = "";
    };
</script>

</html>