<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Recipe Name: <%= recipe.recipeName %></h1>
    <h2>List of Ingredients:</h2>
    <p><%= recipe.ingredients %></p>
    <h2>List of Steps:</h2>
    <p><%= recipe.steps %></p>
    <h2>Update Recipe Steps:</h2>
    <form id="new-form" action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
        <label>Steps:-</label>
        <input type="text" name="stepsInput" id="stepsInput">
        <button onclick="addStep()" type="button">Add Step</button>
      </form>
      <h2 id="recipeStep">Recipe Steps: </h2>
      <input type="submit" value="Update Recipe" form="new-form">
</body>
<script defer>
    let steps = [];
    let stepsEl = document.getElementById("stepsInput");
    let formEl = document.getElementById("new-form");
    function addStep() {
        console.log(stepsEl);
        steps.push(stepsEl.value);
        document.getElementById("recipeStep").append(` ${stepsEl.value}`);
        // return steps;
        // Add the data as hidden input fields
        let inputEl = document.createElement("input");
        inputEl.setAttribute("type", "hidden");
        inputEl.setAttribute("name", `steps`);
        inputEl.setAttribute("value", stepsEl.value);
        formEl.append(inputEl);
        stepsEl.value = "";
    };
</script>
</html>